TELEGRAM_TOKEN=
SUBMIT_URL=https://script.google.com/macros/s/AKfycbx30DBhsRrIxt55Y6MslmZvwqp9dTLhITs27Wdq2M5lpZ8yJZypa7Ryuu1oIzl_13Z2SA/exec
PROXY_URL=https://lightgray-oryx-237895.hostingersite.com/wp-json/srm/v1/v17
PYTHONUNBUFFERED=1
